:root{
--color1:#FFBDBD;
--color2:#BE8ABF;
--color3:#EA9ABB;
--color4:#FEA5AD;
--color5:#F8C3AF;
--black:#150b14;
--white:#faf6fa;
}

*{
    margin: 0;
    padding: 0;    
}

header{
background-color: var(--color2);
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
box-shadow: 0 0 .5rem 0 var(--black);
}
body{
    background-color: var(--black);
}
.imagen_osito{
aspect-ratio: 1/1;
width: 6rem;
}

.texto_usuario {
margin: 0 1rem 0 0;
font-size: 1.5rem;
}
.giga-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_general{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galletero{
    width: 40vw;
    height: 80vh;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
}
.el-galletero{
    width: 20rem;
   object-fit: contain;
    
}
form {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--color5);
}
label{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#Nombre_cliente, select{
padding: .5rem 1rem;
border: none;
border-radius: .5rem;
}
.botones_registro{
    display: flex;
    justify-content: space-around;
gap: 3rem;
}

.volver,.boton{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--color4);
    border-radius: .250rem;
    border: none;
    outline: .200rem solid var(--black);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
}

a{
    text-decoration: none;
    color: var(--black);
}
.ocasion{
    display: flex;
    gap: 3rem;
}